parameters:
    login.options:
        button_text: Zaloguj
        link_text: Zaloguj
    visitor.admin_panel.options:
        link_text: Panel Administracyjny
    mainpage.options:
        userlist_link_text: Użytkownicy